@import url('./dmvendor.css');
@import url('./night-owl.css') only screen and (prefers-color-scheme: dark);
@import url('./night-owl-light.css') only screen and (prefers-color-scheme: light);

.multiColumn {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.multiColumn > div {
  margin: 0 0.5em;
  max-width: calc(100% - 1em);
}

/* no idea but it works: https://stackoverflow.com/a/57643770/15114520 */
.multiColumn p {
  width: 0;
  min-width: 100%;
}

.centeredImage {
  text-align: center;
}

.centeredImage > p > img {
  width: 100%;
  max-width: 500px;

  object-fit: contain;
}
