# Svelte
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# Node
node_modules
npm-debug.log*

# Build files
/build

# macOS
.DS_Store

# No large media files
offline-res/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# GCP credentials
gcp_credentials.json
