@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Global attributes */
* {
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

/* Root-level attributes */
body {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #011f3a; /* rgb(1, 31, 58) */
  color: white;

  font-weight: 400;
  /* make the whole site have a slighty larger font */
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  margin-bottom: 0;

  font-weight: 550;
}

a {
  color: #97b0ca;
}

a > sup {
  font-size: x-small;
}

a:hover {
  opacity: 0.5;
}

button {
  background: none;
  color: #277ad3;
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 0.5rem;

  font-weight: 450;

  transition: letter-spacing 0.4s ease;
}

button:hover {
  cursor: pointer;
  letter-spacing: 0.07rem;
}

/* Every page ideally uses this class */
.container {
  position: relative;
  width: 92%;
  max-width: 90rem;
  margin: 0 auto;
  padding-bottom: 5rem;

  text-align: left;
}

/* Each page title should be centered */
.container > h1 {
  text-align: center;
}

.wideScreensOnly {
  display: inherit;
}

/* Extra tall and skinny screens (i.e. smartphones) */
@media screen and (max-aspect-ratio: 767/1024) {
  .wideScreensOnly {
    display: none;
  }
}

/* Light mode vs. dark mode (default) */
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fcfbf7; /* rgb(252, 251, 247) */
    color: #011f3a;
  }

  a {
    color: #277ad3;
  }
}
