@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,700&display=swap');

/* Root-level attributes */
body {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #011f3a;
  color: white;

  font-family: 'Quicksand', sans-serif;
  font-weight: 460;
  /* make the whole site have a slighty larger font */
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  margin-bottom: 0;

  text-align: center;
  font-size: 2.5rem;
  font-weight: 550;
}

a {
  color: #97b0ca;
}

a > sup {
  font-size: x-small;
}

a:hover {
  opacity: 0.5;
}

button {
  background: none;
  color: #277ad3;
  border: none;
  padding: 0.4rem 0.5rem;

  font-family: inherit;
  font-weight: 500;

  transition: letter-spacing 0.4s ease;
}

button:hover {
  cursor: pointer;
  letter-spacing: 0.07rem;
}

code {
  padding: 1px 5px;

  font-size: 0.88em;
  background-color: #172029;
}

/* Every page ideally uses this class */
.container {
  position: relative;
  width: 92%;
  max-width: 90rem;
  margin: 0 auto;
  padding-bottom: 5rem;

  text-align: left;
}

.wideScreensOnly {
  display: inherit;
}

@media screen and (max-aspect-ratio: 1167/1024) {
  h1 {
    font-size: 2rem;
  }

  .wideScreensOnly {
    display: none !important;
  }
}

/* Light mode vs. dark mode (default) */
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fcfbf7;
    color: #011f3a;
  }

  a {
    color: #277ad3;
  }

  code {
    background-color: #d5dbe2;
  }
}
